{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Article Section -->" | safeHTML}}
<section id="article" class="section">
    <div class="container">
        <div class="row">

            {{ range .Data.Pages }}
            {{"<!-- single article post -->" | safeHTML}}
            {{ .Render "article" }}
            {{"<!-- /single article post -->" | safeHTML}}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /article -->" | safeHTML}}

{{ end }}
