{{ if .Site.Data.calendar.enable }}
{{"<!-- Start Calendar -->" | safeHTML}}
<section id="calendar" class="calendar section-bg">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.calendar.heading }} {{ . }} {{ end }} <span
                            class="color">{{ with .Site.Data.calendar.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            <div class="text-center col-lg-12 wow fadeInUp" data-wow-duration="500ms">
                <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=stjohnsrefbutlerpa%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
