{{ if .Site.Data.giving.enable }}
{{"<!-- Start Giving -->" | safeHTML}}
<section id="giving" class="giving section-bg">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.giving.heading }} {{ . }} {{ end }} <span
                            class="color">{{ with .Site.Data.giving.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            {{"<!-- Giving Details -->" | safeHTML}}
            <div class="text-center col-lg-12 wow fadeInUp" data-wow-duration="500ms">
                {{ with .Site.Data.giving.content }} <p> {{ . }} </p> {{ end }}
            </div>
            {{"<!-- /Giving details -->" | safeHTML}}
            {{"<!-- Giving Form -->" | safeHTML}}
            <div class="all-post text-center col-lg-12">
                <div class="btn btn-main">
                    <script src="https://secure.myvanco.com/L-Z8TN"></script>
                    <a fl-giving-link href="https://secure.myvanco.com/L-Z8TN">Give Online</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
