{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
        {{with .Site.Params.banner.icon}}
        <div class="video-button">
            <i class="{{ . }}"></i>
        </div>
        {{ end }}
       {{with .Site.Params.banner.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}